.list-search-result {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 410px;
  font-size: 1.3em;
  border: 2px rgba(0, 0, 0, 0.2) solid;
  border-radius: 5px;
  margin-top: 5px;
  max-height: 300px;
  overflow: scroll;
}

.list-search-result.hidden {
  display: none;
}

.list-search-result.error {
  background-color: rgba(255, 0, 0, 0.1);
}

.list-search-result li {
  padding: 20px 0px 20px 10px;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.list-search-result li span:hover {
  cursor: pointer;
}

.close-list {
  position: fixed;
  cursor: pointer;
  margin-left: 385px;
  margin-top: 5px;
}

.close-list:after {
  display: block;
  position: absolute;
  top: 10px;
  content: '';
  width: 1em;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
}

.close-list:before {
  display: block;
  position: absolute;
  top: 10px;
  content: '';
  width: 1em;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg);
}
