.list-search-result {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;

  border: 2px $main-color solid;
  border-radius: 5px;
  margin-top: 5px;
  max-height: 300px;
  overflow: scroll;
}

.list-search-result.hidden {
  display: none;
}

.list-search-result.error {
  background-color: $error-color-background;
}

.list-search-result li {
  padding: 20px 0px 20px 10px;
  border-bottom: 1px $main-color;
}

.list-search-result li span:hover {
  cursor: pointer;
}
