.token {
  margin-bottom: 20px;
}

.token__form {
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.token__input {
  font-size: 1em;
  height: 54px;
  border: 2px $main-color solid;
  border-right: none;
  -webkit-appearance: none;
  border-radius: 10px 0px 0px 10px;
  @media (min-width: 850px) {
    font-size: 1.1em;
    width: 300px;
  }
}

.token__submit {
  color: white;
  background-color: $main-color;
  height: 54px;
  font-size: 1.5em;
  -webkit-appearance: none;
  border-radius: 0px 10px 10px 0px;
  border: white;
  cursor: pointer;
  width: 60px;

  &:disabled {
    opacity: 0.5;
  }
}

.token__choosen p {
  margin-top: 10px;
  font-size: 0.8em;
}

.token__choosen p:first-child {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.5);
}

.token__wrong {
  width: 70%;
  height: 60px;
  background-color: $error-color-background;
  border-radius: 5px;
  border: 2px $main-color solid;

  p {
    padding: 20px 0px 20px 10px;
    font-size: 1.3em;
  }
}
